
<div class="mx-4 mt-3">
<h1><%="Stupid coatching"%></h1>
<p><%="Ask your coach anything"%></p>

 <form action="answer" data-turbo="false" class="d-flex">
  <input class="input-group-text" id="inputGroup-sizing-default" type="text" name=question >
  <input class="btn btn-primary ms-2" type="submit" value="Ask!">
</form>
</div>
